# Gradle
.gradle/
build/
**/build/

# Android Studio / IntelliJ
.idea/
*.iml

# Local SDK config
local.properties

# Kotlin
.kotlin/

# Firebase
app/google-services.json

# Keystore files
*.jks
*.keystore

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
